DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

YVP_APP_KEY=

BLOB_READ_WRITE_TOKEN=

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE="false"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="xxxx xxxx xxxx xxxx"
SMTP_FROM="AD Niamey 2000 <adniamey2000@gmail.com>"
CONTACT_TO="adniamey2000@gmail.com"

NEXT_PUBLIC_SITE_URL="https://adniamey2000.vercel.app"

GOOGLE_VERIFICATION=
GA_MEASUREMENT_ID=
